task3/xsd/registry.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" targetNamespace="http://kz.cits.osb.com/test/registry"
	xmlns:tns="http://kz.cits.osb.com/test/registry"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="registry" type="tns:registryType" />
	
	<xs:complexType name="registryType">
		<xs:sequence>
			<xs:element name="payment" type="tns:paymentType"
				maxOccurs="unbounded"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="paymentType">
		<xs:sequence>
			<xs:element type="xs:byte" name="item" 
				maxOccurs="unbounded" />
			<xs:element type="xs:long" name="total" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>