task3/xsd/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://kz.cits.osb.com/response"
			xmlns:tns="http://kz.cits.osb.com/response"
			elementFormDefault="qualified">

	<xsd:element name="response" type="tns:responseType" />

	<xsd:complexType name="responseType">
		<xsd:sequence>
			<xsd:element name="status" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
