task3/wsdl/PaymentProcessingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PaymentProcessingService"
	targetNamespace="http://osb.tutorial.epam.com/PaymentProcessingService"
	xmlns:tns="http://osb.tutorial.epam.com/PaymentProcessingService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema targetNamespace="http://osb.tutorial.epam.com/PaymentProcessingService"
			xmlns:reg="http://kz.cits.osb.com/test/registry" xmlns:tns="http://osb.tutorial.epam.com/PaymentProcessingService"
			elementFormDefault="qualified">
			<xsd:import namespace="http://kz.cits.osb.com/test/registry" schemaLocation="../xsd/registry.xsd" />
			<xsd:element name="ForwardPayment" type="reg:paymentType" />

			<xsd:element name="ForwardPaymentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="grandTotal" type="xsd:long" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<!-- PARAMETERS -->
	<wsdl:message name="ForwardPaymentRequest">
		<wsdl:part name="parameters" element="tns:ForwardPayment" />
	</wsdl:message>
	<wsdl:message name="ForwardPaymentResponse">
		<wsdl:part name="parameters" element="tns:ForwardPaymentResponse" />
	</wsdl:message>

	<!-- operations -->
	<wsdl:portType name="PaymentProcessingService">
		<wsdl:operation name="forwardPayment">
			<wsdl:input message="tns:ForwardPaymentRequest" />
			<wsdl:output message="tns:ForwardPaymentResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="PaymentProcessingServiceSOAP" type="tns:PaymentProcessingService">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="forwardPayment">
			<soap:operation
				soapAction="http://osb.tutorial.epam.com/PaymentProcessingService/ForwardPayment" />
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/PaymentProcessingService"
					use="encoded" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/PaymentProcessingService"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PaymentProcessingService">
		<wsdl:port binding="tns:PaymentProcessingServiceSOAP" name="PaymentProcessingServiceSOAP">
			<soap:address location="http://to-be-defined-by-user" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
