task3/wsdl/PaymentRegistryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PaymentRegistryService"
	targetNamespace="http://osb.tutorial.epam.com/PaymentRegistryService"
	xmlns:tns="http://osb.tutorial.epam.com/PaymentRegistryService"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:reg="http://kz.cits.osb.com/test/registry" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema targetNamespace="http://osb.tutorial.epam.com/PaymentRegistryService"
			xmlns:tns="http://osb.tutorial.epam.com/PaymentRegistryService"
			elementFormDefault="qualified">
			<xsd:element name="grandTotal" type="xsd:long" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://kz.cits.osb.com/test/registry"
			xmlns:tns="http://kz.cits.osb.com/test/registry" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified">

			<xsd:element name="registry" type="tns:registryType" />

			<xsd:complexType name="registryType">
				<xsd:sequence>
					<xsd:element name="payment" type="tns:paymentType"
						maxOccurs="unbounded" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="paymentType">
				<xsd:sequence>
					<xsd:element type="xsd:byte" name="item" maxOccurs="unbounded" />
					<xsd:element type="xsd:long" name="total" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<!-- PARAMETERS -->
	<wsdl:message name="ForwardRegistryRequest">
		<wsdl:part name="parameters" element="reg:registry" />
	</wsdl:message>
	<wsdl:message name="ForwardRegistryResponse">
		<wsdl:part name="parameters" element="tns:grandTotal" />
	</wsdl:message>

	<!-- operations -->
	<wsdl:portType name="PaymentRegistryService">
		<wsdl:operation name="forwardRegistry">
			<wsdl:input message="tns:ForwardRegistryRequest" />
			<wsdl:output message="tns:ForwardRegistryResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="PaymentRegistryServiceSOAP" type="tns:PaymentRegistryService">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="forwardRegistry">
			<soap:operation
				soapAction="http://osb.tutorial.epam.com/PaymentRegistryService/ForwardRegistry" />
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/PaymentRegistryService"
					use="encoded" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/PaymentRegistryService"
					use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="PaymentRegistryService">
		<wsdl:port binding="tns:PaymentRegistryServiceSOAP" name="PaymentRegistryServiceSOAP">
			<soap:address location="http://to-be-defined-by-user" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
