task2/wsdl/RegestryMessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RegestryMessageService"
	targetNamespace="http://osb.tutorial.epam.com/MessageService"
	xmlns:tns="http://osb.tutorial.epam.com/MessageService" xmlns:test="http://kz.cits.osb.com/test/registry"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!-- PARAMETERS -->
	<wsdl:message name="ForwardMessage">
		<wsdl:part name="request" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="ForwardMessageResponse">
		<wsdl:part name="response" type="xsd:string" />
	</wsdl:message>
	
	<wsdl:message name="SendData">
		<wsdl:part name="request" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="SendDataResponse">
		<wsdl:part name="response" type="xsd:string" />
	</wsdl:message>
	
	
	<!-- operations -->
	<wsdl:portType name="RegestryMessageService">
		<wsdl:operation name="forwardMessage">
			<wsdl:input message="tns:ForwardMessage" />
			<wsdl:output message="tns:ForwardMessageResponse" />
		</wsdl:operation>
		<wsdl:operation name="sendData">
			<wsdl:input message="tns:SendData" />
			<wsdl:output message="tns:SendDataResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="RegestryMessageServiceSOAP" type="tns:RegestryMessageService">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="forwardMessage">
			<soap:operation
				soapAction="http://osb.tutorial.epam.com/RegestryMessageService/ForwardMessage" />
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/RegestryMessageService" use="encoded" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/RegestryMessageService" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendData">
			<soap:operation
				soapAction="http://osb.tutorial.epam.com/RegestryMessageService/SendData" />
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/RegestryMessageService" use="encoded" />
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					namespace="http://osb.tutorial.epam.com/RegestryMessageService" use="encoded" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="RegestryMessageService">
		<wsdl:port binding="tns:RegestryMessageServiceSOAP" name="RegestryMessageServiceSOAP">
			<soap:address location="http://to-be-defined-by-user" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
