task1/wsdl/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="MessageService"
	targetNamespace="http://osb.tutorial.epam.com/MessageService"
	xmlns:tns="http://osb.tutorial.epam.com/MessageService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema targetNamespace="http://osb.tutorial.epam.com/MessageService"
			elementFormDefault="qualified" xlmns:tns="http://osb.tutorial.epam.com/MessageService">

			<xsd:element name="request" type="tns:requestType" />
			<xsd:element name="response" type="tns:responseType" />

			<xsd:complexType name="requestType">
				<xsd:sequence>
					<xsd:element name="data" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="responseType">
				<xsd:sequence>
					<xsd:element name="status" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<!-- PARAMETERS -->
	<!-- input parameter -->
	<wsdl:message name="SendMessageRequest">
		<wsdl:part name="parameters" element="tns:request" />
	</wsdl:message>
	<!-- return value -->
	<wsdl:message name="SendMessageResponse">
		<wsdl:part name="parameters" element="tns:response" />
	</wsdl:message>
	<!-- operations -->
	<wsdl:portType name="MessageService">
		<wsdl:operation name="SendMessage">
			<wsdl:input message="tns:SendMessageRequest" />
			<wsdl:output message="tns:SendMessageResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="MessageServiceSOAP" type="tns:MessageService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SendMessage">
			<soap:operation soapAction="http://osb.tutorial.epam.com/MessageService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MessageService">
		<wsdl:port binding="tns:MessageServiceSOAP" name="MessageServiceSOAP">
			<soap:address location="http://to-be-defined-by-user" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
